<header class="w-full bg-amber-500">
  <div class="flex align-middle">
    <a class="text-yellow"> Dating App </a>
    <nav class="flex gap-3 uppercase">
      <a>Matches</a>
      <a>Lists</a>
      <a>Messages</a>
    </nav>

    <div class="flex align-middle">
      @if(accountService.currentUser(); as user ){

      <span> username:{{user.displayName}}</span>
      <button type="button" class="btn">Edit Profile</button>
      <button type="button" class="btn" (click)="logout()">Logout</button>
      } @else{

      <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
        <input [(ngModel)]="creds.email" name="email" type="text" class="input" placeholder="Email" />
        <input type="text" [(ngModel)]="creds.password" name="password" class="input" placeholder="Password" />
        <button type="submit" class="btn">Login</button>
      </form>
      }
    </div>
  </div>
</header>
